.button {
  height: 3rem;

  display: flex;
  align-items: center;

  margin-left: auto;

  background-color: var(--brand-dark);
  border-radius: 0.5rem;

  font: var(--body-md);
  font-weight: 600;
  color: var(--text-heading);

  gap: 0.75rem;

  padding: 0.25rem 1.25rem;

  & img {
    width: 1.25rem;
    height: 1.25rem;
  }

  button {
    all: unset;
  }
}
