.input-wrapper {
  display: grid;
  gap: 0.75rem;

  & label {
    font: var(--body-sm);
    color: var(--text-body);
  }

  & input {
    appearance: none;
    background-color: var(--input-base);
    width: 100%;

    padding: 1rem;

    border: 1px solid var(--input-stroke);
    border-radius: 0.5rem;

    &::placeholder {
      font: var(--body-md);
      color: var(--input-placeholder);
    }
  }
}
