.input-wrapper {
  display: grid;
  gap: 0.75rem;

  & label {
    font: var(--body-md);
    color: var(--text-heading);
  }

  & input {
    appearance: none;
    background-color: var(--input-base);
    width: 100%;

    padding: 1rem;
    height: 3rem;

    border: 1px solid var(--input-stroke);
    border-radius: 0.5rem;
    font: var(--body-md);
    color: var(--text-heading);

    &::placeholder {
      font: var(--body-md);
      color: var(--input-placeholder);
    }

    &:focus {
      outline: 1px solid var(--brand-light);
    }

    &:invalid {
      border: 1px solid var(--danger);
    }

    &[required] + .error {
      gap: 0.5rem;

      display: flex;
      align-items: center;

      & img {
        width: 1rem;
        height: 1rem;

        margin: 0;
      }

      & span {
        font: var(--body-xs);
        color: var(--danger);
      }
    }

    &:valid + .error {
      display: none;
    }
  }

  /* Ensure datetime-local renders with same metrics */
  & input[type="datetime-local"] {
    font: var(--body-md);
    color: var(--text-heading);
    height: 3rem;
  }
}
