@import url(thema.css);

.radio-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));

  gap: 0.25rem;
  padding: 0.25rem;

  background-color: var(--input-base);

  border: 1px solid var(--input-stroke);
  border-radius: 0.5rem;
}

.radio-inner {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;
  padding: 0.5rem;

  position: relative;

  border-radius: 0.25rem;

  & input {
    all: unset;
    position: absolute;
    inset: 0;
  }

  &:has(input:checked) {
    background-color: var(--shape-button);
    border-radius: 0.3125rem;
  }

  .radio-image {
    width: 1rem;
    height: 1rem;
    &.presencial {
      background-image: url(../../assets/icons/building-2.svg);
    }

    &.online {
      background-image: url(../../assets/icons/video-2.svg);
    }
  }

  &:has(input:checked) .radio-image.presencial {
    background-image: url(../../assets/icons/building-1.svg);
  }

  &:has(input:checked) .radio-image.online {
    background-image: url(../../assets/icons/video-1.svg);
  }

  & label {
    font: var(--body-sm);
    color: var(--text-heading);
  }
}
