.terms-wrapper {
  border-top: 1px solid var(--input-stroke);
  padding-top: 2.5rem;

  .terms-inner {
    display: flex;
    align-items: center;

    gap: 0.75rem;

    position: relative;

    .check-box-image {
      width: 1.25rem;
      height: 1.25rem;

      background-image: url(../../assets/icons/unchecked.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    label {
      font: var(--body-sm);
      color: var(--text-body);
    }

    strong {
      font-weight: 600;
      color: var(--brand-light);
      text-decoration: underline;
    }

    & input {
      all: unset;

      position: absolute;

      inset: 0;
    }

    &:has(input:checked) .check-box-image {
      background-image: url(../../assets/icons/checked.svg);
    }
  }
}
