.thema-wrapper {
  all: unset;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8.375rem, 1fr));

  gap: 0.5rem;
}

.thema-inner {
  all: unset;

  width: 8.375rem;
  height: 6.4375rem;

  background-color: var(--shape-button);

  border: 1px solid var(--input-stroke);
  border-radius: 0.5rem;

  position: relative;

  &:hover {
    background-color: var(--shape-hover);
  }

  &:has(input:checked) {
    border: 2px solid var(--brand-light);
  }

  & .thema-text {
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    right: 0;
    text-align: center;

    font: var(--body-sm);
    color: var(--text-base);
  }

  & input {
    all: unset;

    position: absolute;
    inset: 0;

    color: transparent;

    width: 8.375rem;
    height: 6.4375rem;
  }

  & img {
    position: absolute;
    width: 100%;
    height: 4.25rem;

    border-radius: 0.25rem;

    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0.25rem;

    margin: 0;
    margin-bottom: 0.5rem;
  }
}
